html {
  scroll-behavior: smooth !important;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 70px;
  background-color: #333;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
}

.header .header__menu {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 2rem;
  margin-top: 2px;
  display: none;
}

.header .nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.header .nav .nav__item-active {
  background-color: #49505f;
}

.header .nav .nav__item {
  display: inline-block;
  border: 1px solid #626b7a;
  margin: 10px;
  padding: 12px 16px;
}

.header .nav .nav__item:hover {
  background-color: #49505f;
  cursor: pointer;
}

.header .nav .nav__item .nav__item-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

.slider {
  padding-top: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-attachment: fixed;
}

.slider__name {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 20%;
  color: #fff;
  text-align: center;
  font-family: 'The Nautigal', cursive;
  font-weight: 700;
  font-weight: bold;
  -webkit-animation: myOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
}

@-webkit-keyframes myOrbit {
  from {
    color: #1686c1;
    -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    color: #fff;
    -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

.section__group, .section__group-servic {
  max-width: 1300px;
  margin: 0 auto;
}

@-webkit-keyframes hiendan {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes hiendan {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.section__group-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__group-about {
  width: 100%;
}

.section__group-about-1 {
  width: 390px;
  max-height: 450px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.section__group-about-1 .group-about-img {
  height: 190px;
  width: 100%;
}

.section__group-about-1 .group-about-1-content {
  margin: 30px;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-name {
  font-size: 1.4rem;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-name-1 {
  color: #178a27;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-name-2 {
  color: #1686c1;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-name-3 {
  color: #852406;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-text {
  font-size: 1rem;
  color: #333333;
  margin: 0;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5;
  font-weight: 300;
  opacity: 0.8;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-btn {
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-animation: hiendan ease-out 0.2s;
          animation: hiendan ease-out 0.2s;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-btn-1 {
  background-color: #178a27 !important;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-btn-2 {
  background-color: #1686c1 !important;
}

.section__group-about-1 .group-about-1-content .group-about-1-content-btn-3 {
  background-color: #852406 !important;
}

.section__group-about-2-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__group-about-2 {
  width: 580px;
  height: 600px;
  background-color: #f2f2f2;
  margin-top: 90px;
}

.section__group-about-2 .group-about-2-img {
  width: 100%;
  height: 260px;
}

.section__group-about-2 .group-about-2-content {
  margin: 34px;
}

.section__group-about-2 .group-about-2-content .group-about-2-name {
  margin: 0;
  color: #333333;
  text-align: center;
  font-size: 1.4rem;
}

.section__group-about-2 .group-about-2-content .group-about-1-content-text {
  margin: 18px;
  font-size: 1rem;
  font-weight: 300;
  color: #333333;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.section__group-about-2 .group-about-2-content .group-about-1-content-btn {
  float: right;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid #626b7a;
  background-color: #fff;
}

.section__group-about-2 .group-about-2-content .group-about-1-content-btn:hover {
  background-color: #f2f2f2;
  opacity: 0.7;
  -webkit-animation: hiendan ease-out 0.4s;
          animation: hiendan ease-out 0.4s;
}

.section__group-servic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__group-servic-item {
  width: 280px;
  height: 500px;
  background-color: #f2f2f2;
}

.section__group-servic-item .section__group-servic-img {
  width: 100%;
  height: 40%;
}

.section__group-servic-item .section__group-text-button {
  margin: 10px;
}

.section__group-servic-item .section__group-text-button .section__group-servic-name {
  text-align: center;
  color: #333333;
  font-size: 1.2rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.section__group-servic-item .section__group-text-button .section__group-servic-text {
  font-size: 1rem;
  color: #333333;
  text-align: justify;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 6;
}

.section__group-servic-item .section__group-text-button .section__group-servic-btn {
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid #626b7a;
  background-color: #fff;
  margin-top: 40px;
}

.section__group-servic-item .section__group-text-button .section__group-servic-btn:hover {
  background-color: #f2f2f2;
  opacity: 0.7;
  -webkit-animation: hiendan ease-out 0.4s;
          animation: hiendan ease-out 0.4s;
}

.section__group-servic-item-end {
  min-height: 700px;
  margin-top: 30px;
  background-color: #f2f2f2;
}

.section__group-servic-item-end .servic-img-end {
  width: 100%;
  height: 400px;
}

.section__group-servic-item-end .servic-text-button-end {
  margin: 30px;
}

.section__group-servic-item-end .servic-text-button-end .name {
  font-size: 1.6rem;
  color: #333333;
  font-weight: 400;
}

.section__group-servic-item-end .servic-text-button-end .content, .section__group-servic-item-end .servic-text-button-end .address {
  font-size: 1rem;
  color: #333333;
}

.section__group-servic-item-end .servic-text-button-end .button {
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid #626b7a;
  background-color: #fff;
  margin-top: 40px;
}

.section__group-servic-item-end .servic-text-button-end .button:hover {
  background-color: #f2f2f2;
  opacity: 0.7;
  -webkit-animation: hiendan ease-out 0.4s;
          animation: hiendan ease-out 0.4s;
}

main {
  max-height: 300px;
  width: 100%;
}

.main__img {
  max-height: 300px;
  opacity: 0.8;
  width: 100%;
}

.scrollUp {
  width: 30px;
  height: 30px;
  position: fixed;
  display: none;
  bottom: 50px;
  right: 50px;
  z-index: 1;
}

.scrollUp:hover {
  cursor: pointer;
}

.scrollUp i {
  font-size: 2rem;
  color: #1686c1;
}

.contact {
  width: 100%;
  padding-top: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-attachment: fixed;
}

.contact .contact__form {
  width: 50%;
  height: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
}

.contact .contact__form .contact__form-name {
  font-size: 3rem;
  text-shadow: 2px 2px #333333;
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #fff;
}

.contact .contact__form .contact__form-title {
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  padding: 30px;
  background-color: rgba(24, 24, 24, 0.8);
}

.contact .contact__form .contact__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.contact .contact__form .contact__form-group .group-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.contact .contact__form .contact__form-group .group-left .group-left-input {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  margin-bottom: 4px;
  font-size: 0.8rem;
  color: #fff;
  border-color: none;
  border-style: none;
  background-color: rgba(24, 24, 24, 0.8);
}

.contact .contact__form .contact__form-group .group-left-input:focus {
  border-color: #414dec;
  -webkit-box-shadow: 1px 1px #414dec;
          box-shadow: 1px 1px #414dec;
}

.contact .contact__form .contact__form-group .group-right {
  width: 45%;
}

.contact .contact__form .contact__form-group .group-right .group-right-message {
  width: 100%;
  font-size: 0.8rem;
  color: #fff;
  background-color: rgba(24, 24, 24, 0.8);
}

.footer {
  width: 100%;
  height: 100px;
}

.footer .footer__name {
  margin: 0;
  font-size: 1.4rem;
  margin-top: 20px;
  text-align: center;
}

.footer .footer-group {
  margin: auto auto;
}

.footer .footer__list {
  list-style: none;
  padding: 0;
  display: block;
}

.footer .footer__list .footer__list-item {
  padding: 6px;
  text-align: center;
  font-size: 1rem;
}

.footer .footer__list .footer__list-item .footer__list-link {
  text-decoration: none;
  color: #333333;
}

.footer .footer__list .footer__list-item .footer__list-link:hover {
  color: blue;
}

@media (min-width: 740px) and (max-width: 1024px) {
  .slider {
    background-size: contain;
  }
  .section__group .section__group-about .section__group-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section__group-about-1 {
    width: 40%;
  }
  .section__group-about-2 {
    width: 100%;
  }
  .section__group-servic-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact {
    height: 300px;
  }
}

@media (max-width: 739px) {
  .header {
    overflow: hidden;
    top: 0;
  }
  .header .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .nav {
    display: block;
  }
  .header .nav .nav__item {
    display: block;
    width: 100%;
  }
  .header .header__menu {
    display: block;
    margin-top: 18px;
    margin-right: 4px;
  }
  .slider {
    background-size: contain;
    margin-top: 70px;
    padding-top: 50%;
  }
  .slider .slider__name {
    font-size: 1.2rem;
  }
  .section__group-about-1 {
    width: 100%;
  }
  .section__group-servic-item {
    width: 100%;
  }
  .contact {
    height: 300px;
  }
  .contact .contact__form .contact__form-title {
    padding: 2px 4px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.main {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */